
body{
	background-color : #ededed;
}

/* contenue sous forme de boîte */
div#content div{
	display     : inline-block;
	font-family : gugi;
}

div.rightbox{
	color : red;
}
/* Fin */

h1.titre{
	width            : 250px;
	margin           : auto;
	margin-top       : 20px;
	padding          : 20px;

	background-color : #b2bec3;
	font-family      : baloo bhai;
}

h1.titre a{
	color           : #ededed;
	text-decoration : none;
}

h1.titre a:hover{
	color : #636e72;
}

h2.lien a{
	margin-left      : 300px;
	padding          : 15px;

	background-color : blue;
	font-family      : roboto;
	color            : #ededed;
	text-decoration  : none;
}

h2.lien a:hover{
	background-color : #ededed;
	color            : blue;
	border           : 2px solid blue;

	transition       : 0.3s;
}